.contenedorPosts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.post{
  box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 2rem;
  padding: 10px;
}
.post:hover{
  transform: scale(1.05);
  transition: .4s;
}
.btn-Post{
  border-radius: 5px;
}
.btn-Post:hover{
  background-color: rgb(199, 228, 219);
  transition: .3s;
}
.contenedor{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}
.contenedorContador{
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px gray solid;
  margin: 20px 0;
}
.contenedorContador button{
  border: none;
}
.agregarAlCarrrito:hover{
  background-color: gray;
  transition: .4s;
}
.postDetalle{
  padding: 5px;
  margin: 15px;
  text-align: center;
}
.contenedorDetalle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
