.articuloProducto{
    padding: 10px;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 7px 7px 25px -13px rgba(0,0,0,0.75);
}
.articuloProducto:hover{
    transform: scale(1.03);
    transition: .3s;
}
.contenedorProductos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.btnArticle:hover{
    background-color: cadetblue;
    transition: .2s;
}
.articleDetail{
    border: 1px solid black;
    width: 240px;
    text-align: center;
    border-radius: 5px;
    margin: 15px;
}
.contenedorDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedorContador{
    border: 1px solid black;
    width: 170px;
    height: 15vh;
    text-align: center;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}
.contenedorBotonesContador{
    display: flex;
    justify-content: space-between;
    margin: 4px;
}
.textConfirmacion{
    border: 1px solid black;
    width: 20vw;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
}

.footer{
    background-color: rgba(53, 85, 146, 0.715);
}

.contenedorBtnCarrito{
    display: flex;
    margin: 0 15px;
}
.contenedorBtnCarrito:hover{
    transform: scale(1.1);
    transition: .3s;
}
.terminarCompraCart{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.terminarCompraCart button:hover{
    background-color: aquamarine;
    transition: .3s;
    color: white;
}